$base_color: rgb(79, 70, 229);
$base_light_color: rgb(224,231,255);
$purple_button: rgb(107, 33, 168);
$light_purple_button: rgb(168, 85, 247);
$grey_text_nav: rgb(75, 85, 99);
$footer_background: rgb(243, 244, 246);