.not-found-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;

    h1 {
        font-size: 6rem;
        font-weight: 700;
        color: rgb(214, 214, 214);
    }
}