@import '../../../assets/scss/variables.scss';

.about-page {
    padding-top: 80px;

    .container {
        width: 1200px;
        max-width: 100%;
        padding: 0px 10px;
        margin: 0px auto;

        .about {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;

            .about-content {
                max-width: 40%;

                h2 {
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 1.5;
                    margin-right: 40px;
                }
            }

            img {
                min-width: 60%;
            }
        }

        .story {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;

            .story-content {
                width: 40%;

                h2 {
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 1.5;
                    margin-right: 40px;
                }
            }

            .group-images {
                display: flex;
                justify-content: space-between;
                width: 60%;
                padding: 40px;
                box-shadow: 0px 12px 87px -7px rgba(0,0,0,0.08);
                -webkit-box-shadow: 0px 12px 87px -7px rgba(0,0,0,0.08);
                -moz-box-shadow: 0px 12px 87px -7px rgba(0,0,0,0.08);

                img {
                    width: calc(100% / 4 - 15px);
                }
            }
        }
    }
}